* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body {
  background:#0f172a;
  color:white;
  line-height:1.6;
}

section {
  padding:80px 10%;
  text-align:center;
}

.hero {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#0f172a,#1e293b);
}

.hero span {
  color:#38bdf8;
}

.btn {
  margin-top:20px;
  padding:12px 25px;
  background:#38bdf8;
  color:#000;
  text-decoration:none;
  border-radius:30px;
  transition:0.3s;
}

.btn:hover {
  background:white;
}

.stats {
  display:flex;
  justify-content:center;
  gap:40px;
  flex-wrap:wrap;
}

.stat h3 {
  font-size:40px;
  color:#38bdf8;
}

.card {
  background:#1e293b;
  margin:20px auto;
  padding:20px;
  max-width:600px;
  border-radius:12px;
  transition:0.4s;
}

.card:hover {
  transform:translateY(-10px);
}

.skill {
  display:inline-block;
  margin:10px;
  padding:10px 20px;
  background:#1e293b;
  border-radius:20px;
  transition:0.3s;
}

.skill:hover {
  background:#38bdf8;
  color:black;
}

.contact a {
  color:#38bdf8;
}